* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background of the webpage*/
body {
    background-color: #cff5aa7c;
}

/* Header styling*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #722a7c;
    color: #ffffff;
    position: fixed;
    width: 100%;
}
.headertop {
    padding-left: 25px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: #ffffff;
    display: inline-block;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #7efa03;
}
.skills {
    text-align: center;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/* styling of the hyperlink as an inline*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* styling of p paragraph: text size*/
p {
    font-size: 16px;
}



/*change of hyperlink color to active green when mous hovers over the text*/
.active  :hover {
    color: #7efa03;} 

.activeblock :hover {
    background-color: #fa8f03;
    color: black;
    
}
/*floats images to the left*/
.float-left {
    float: left;
    margin-right: 25px;

}
/*floats text to the right in relationshit to images*/
.float-right {
    float: right;
    margin-left: 25px;
}


/*Styling of content*/
.content {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

.Head-shot {
    margin-bottom: 32px;
    color: #ffffff;
}

.Website-design {
    margin-bottom: 32px;
    color: #ffffff;
}

.Interests {
    margin-bottom: 32px;
    color: #ffffff;
}

.Head-shot h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Website-design h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Interest h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Head-shot img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Website-design img {
    position: relative;
    margin: 10px auto;
    max-width: 150px;
}

.Interests img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Main {
   margin-top: 7%;
    float: left;
    margin-left: 25px;
}
.Face-outline {
    top: 96px;
    text-align: left;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fa8f03;
    position: sticky;
    
    
}

.Parent {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    float: left;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #722a7c;
    color: #ffffff;
    width: 100%;
}

.Bullets {
    padding-top: 25px;
    padding-bottom: 25px;
    list-style-type: square;

}

.Bullets2 {
    padding-top: 25px;
    padding-bottom: 25px;
    list-style-type: square;
}

.Parent img {
    max-height: 300px;
}


.Parent h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #722a7c;
}

.footer h2 {
    font-size: 20px;
    color: #ffffff;
    background-color: #722a7c;
}
