* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background of the webpage*/
body {
    background-color: #000000b9;
}

/* Header styling*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6c2a7c75;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #7efa03;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/* styling of the hyperlink as an inline*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* styling of p paragraph: text size*/
p {
    font-size: 16px;
}



/*change of hyperlink color to active green when mous hovers over the text*/
.active  :hover {
    color: #7efa03;} 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/*Styling of content*/
.content {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

.Face-outline {
    margin-right: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.Head-shot {
    margin-bottom: 32px;
    color: #ffffff;
}

.Website-design {
    margin-bottom: 32px;
    color: #ffffff;
}

.Interests {
    margin-bottom: 32px;
    color: #ffffff;
}

.Head-shot h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Website-design h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Interest h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Head-shot img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Website-design img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Interests img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.Portfolio {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6c2a7c75;
    color: #ffffff;
    width: 100%;
}


.Github {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6c2a7c75;
    color: #ffffff;
    width: 100%;
}

.LinkedIn {
    margin-bottom: 20px;
    padding: 50px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6c2a7c75;
    color: #ffffff;
    width: 100%;
}

.Portfolio img {
    max-height: 235px;
}

.Github img {
    max-height: 200px;
}

.LinkedIn img {
    max-height: 200px;
}

.Portfolio h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Github h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.LinkedIn h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
